<template>
    <div>
        <input type="hidden" id="start" name="start_date">
        <input type="hidden" id="end" name="end_date">
        <date-range-picker
            v-model="dateRange"
            :autoApply="autoApply"
            :ranges="ranges"
            :controlContainerClass="className"
            @update="updateValues"
        >
        </date-range-picker>

        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="booking in bookings" :key="booking.id">
                    <td>{{ booking.customer_name }}</td>
                    <td class="text-danger">{{ booking.total - booking.paid }}</td>
                    <td><a :href="editRoute(booking.id)" class="btn btn-link btn-sm text-success" title="Edit this record"><i class="fa fa-pencil-square-o"></i></a></td>
                </tr>
                <tr align="center" v-if="bookings.length == 0">
                    <td colspan="3">No data available.</td>
                </tr>
            </tbody>
        </datatable>
        <div class="form-inline mt-4">
            <select class="form-control" v-model="tableData.length" @change="getBookings()">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <pagination :pagination="pagination"></pagination>
        </div>
    </div>
</template>

<script>
import Datatable from "./Datatable.vue";
import Pagination from "./Pagination.vue";
import DateRangePicker from 'vue2-daterange-picker';
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';
import moment from 'moment';

export default {
    components: { datatable: Datatable, pagination: Pagination, DateRangePicker },
    props: ['route'],
    created(){
        this.tableData.s = moment().format('MM/DD/YYYY');
        this.tableData.e = moment(new Date()).add(31, "days").format('MM/DD/YYYY');
        this.getBookings();
    },
    data(){
        let sortOrders = {};

        let columns = [
            { width: '40%', label: 'Name', name: 'name', sortable: true },
            { width: '40%', label: 'Balance', name: 'balance', sortable: false },
            { width: '20%', label: 'Action', name: 'action', sortable: false },
        ];

        columns.forEach((column) => {
            sortOrders[column.name] = -1;
        });

        let dates = [];

        return {
            bookings: [],
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                s: '',
                e: ''
            },
            pagination: {
                from: '',
                to: '',
                total: ''
            },
            dateRange: {
                startDate: moment().format('MM/DD/YYYY'),
                endDate: moment(new Date()).add(31, 'days').format('MM/DD/YYYY')
            },
            autoApply: true,
            ranges: false,
            className: "form-control mb-4 mt-2"
        }
    },
    methods: {
        getBookings(url = '/dataBookings'){
            this.tableData.draw++;
            axios.get(url, { params: this.tableData })
                .then(response => {
                    let data = response.data;
                    if(this.tableData.draw == data.draw){
                        this.bookings = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        updateValues(value){
            var s = moment(value.startDate).format('MM/DD/YYYY');
            var e = moment(value.endDate).format('MM/DD/YYYY');
            this.tableData.s = s;
            this.tableData.e = e;
            this.getBookings();
        },
        editRoute(value){
            return "/bookings/"+value+"/editBooking";
        },
        configPagination(data){
            this.pagination.from = data.from;
            this.pagination.to = data.to;
            this.pagination.total = data.total;
        },
        sortBy(key){
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'ASC' : 'DESC';
            this.getBookings();
        },
        getIndex(array, key, value){
            return array.findIndex(i => i[key] == value)
        }
    }
}
</script>
