<template>
    <div>
        <div class="form-inline mb-4">
            <input type="text" class="form-control" placeholder="Search..." v-model="tableData.search" @input="search()">
            <a href="/createManager" class="btn btn-gradient-info btn-icon-text ml-3"><i class="mdi mdi-plus"></i> CREATE </a>
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="manager in managers" :key="manager.id">
                    <td>{{ manager.name }}</td>
                    <td>{{ manager.email }}</td>
                    <td><rights :csrf="csrf" :id="manager.id" column="owner_rights" :value="manager.owner_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="booking_rights" :value="manager.booking_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="admin_rights" :value="manager.admin_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="calendar_rights" :value="manager.calendar_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="cc_rights" :value="manager.cc_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="channelmanager_rights" :value="manager.channelmanager_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="settings_rights" :value="manager.settings_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="delete_rights" :value="manager.delete_rights"></rights></td>
                    <td><rights :csrf="csrf" :id="manager.id" column="print_rights" :value="manager.print_rights"></rights></td>
                    <td>{{ manager.created_at }}</td>
                    <td>{{ manager.created_ip }}</td>
                    <td>{{ manager.last_login }}</td>
                    <td>{{ manager.last_ip }}</td>
                    <td>
                        <a :href="editManagerInfo(manager.id)" class="btn btn-link btn-sm mb-1 text-success" title="Edit this record"><i class="fa fa-pencil-square-o"></i></a>

                        <form method="POST" :action="deleteManager(manager.id)" >
                            <input type="hidden" name="_token" :value="csrf">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="btn btn-link btn-sm text-danger" title="Delete this record"><i class="fa fa-trash-o"></i></button>
                        </form>
                    </td>
                </tr>
            </tbody>
        </datatable>
        <div class="form-inline mt-4">
            <select class="form-control" v-model="tableData.length" @change="getManagers()">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <pagination :pagination="pagination"></pagination>
        </div>
    </div>
</template>

<script>
import Datatable from "./Datatable.vue";
import Pagination from "./Pagination.vue";

export default {
    components: { datatable: Datatable, pagination: Pagination },
    props: ['route'],
    created(){
        this.getManagers();
    },
    data(){
        let sortOrders = {};

        let columns = [
            { label: 'Title', name: 'name', sortable: true },
            { label: 'Email', name: 'email', sortable: true },
            { label: 'Owner', name: 'owner_rights', sortable: false },
            { label: 'Bookings', name: 'booking_rights', sortable: false },
            { label: 'Admin', name: 'admin_rights', sortable: false },
            { label: 'Calendar', name: 'calendar_rights', sortable: false },
            { label: 'CC', name: 'cc_rights', sortable: false },
            { label: 'Channel Manager', name: 'channelmanager_rights', sortable: false },
            { label: 'Settings', name: 'settings_rights', sortable: false },
            { label: 'Delete', name: 'delete_rights', sortable: false },
            { label: 'Print', name: 'print_rights', sortable: false },
            { label: 'Date Created', name: 'created_at', sortable: false },
            { label: 'Created IP', name: 'created_ip', sortable: false },
            { label: 'Last Login', name: 'last_login', sortable: false },
            { label: 'Last IP', name: 'last_ip', sortable: false },
            { label: 'Action', name: 'action', sortable: false },
        ];

        columns.forEach((column) => {
            sortOrders[column.name] = -1;
        });

        let dates = [];

        return {
            csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
            managers: [],
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                s: '',
                e: ''
            },
            pagination: {
                from: '',
                to: '',
                total: ''
            }
        }
    },
    methods: {
        getManagers(url = '/getManagers'){
            this.tableData.draw++;
            axios.get(url, { params: this.tableData })
                .then(response => {
                    let data = response.data;
                    if(this.tableData.draw == data.draw){
                        this.managers = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        configPagination(data){
            this.pagination.from = data.from;
            this.pagination.to = data.to;
            this.pagination.total = data.total;
        },
        sortBy(key){
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'ASC' : 'DESC';
            this.getManagers();
        },
        getIndex(array, key, value){
            return array.findIndex(i => i[key] == value)
        },
        editManagerInfo(id){
            return "/managers/"+id+"/editManagerInfo";
        },
        deleteManager(id){
            return "/managers/"+id+"/deleteManager";
        },
        updateRights: function(event){
            console.log(event.currentTarget.getAttribute('data-col'));

        }
    }
}
</script>
