<template>
    <small class="ml-3">Showing {{ pagination.from==null ? '0' : pagination.from }} - {{ pagination.to==null ? '0' : pagination.to }} of {{pagination.total}} </small>
</template>

<script>
export default {
    props: ['pagination']
}
</script>
