<template>

    <form action="/updateRights" ref="form" method="POST">
        <input type="hidden" name="_token" :value="csrf">
        <input type="hidden" :value="id" name="id" class="id">
        <input type="hidden" :value="column" name="column" class="column">
        <input type="hidden" :value="value" name="value" class="value">
        <input type="checkbox" class="cm-toggle" @change="submit" :checked="value==1 ? true : false">
    </form>

</template>

<script>
export default {
    props: ['csrf', 'id', 'column', 'value'],
    data(){
        return {
            route: ''
        }
    },
    methods : {
        submit : function(e){
            var value = (e.target.checked) ? 1 : 0;
            $('.id').val(this.id);
            $('.column').val(this.column);
            $('.value').val(value);

            this.$refs.form.submit();
        }
    }
}
</script>
