<template>
    <div>
        <div class="form-inline mb-4">
            <input type="text" class="form-control" placeholder="Search..." v-model="tableData.search" @input="search()">
            <a href="#" class="btn btn-gradient-info btn-icon-text ml-3"><i class="mdi mdi-plus"></i> CREATE </a>
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="room in rooms" :key="room.id">
                    <td>{{ room.id }}</td>
                    <td>{{ room.name }}</td>
                    <td>{{ room.type }}</td>
                    <td style="white-space: normal !important; word-break: break-word">{{ room.description }}</td>
                </tr>
            </tbody>
        </datatable>
        <div class="form-inline mt-4">
            <select class="form-control" v-model="tableData.length" @change="getRooms()">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <pagination :pagination="pagination"></pagination>
        </div>
    </div>
</template>



<script>
import Datatable from "./Datatable.vue";
import Pagination from "./Pagination.vue";

export default {
    components: { datatable: Datatable, pagination: Pagination },
    created(){
        this.getRooms();
    },
    data(){
        let sortOrders = {};

        let columns = [
            { width: '10%', label: 'ID', name: 'id' },
            { width: '30%', label: 'Title', name: 'title' },
            { width: '30%', label: 'Type', name: 'type' },
            { width: '30%', label: 'Description', name: 'description' }
        ];

        columns.forEach((column) => {
            sortOrders[column.name] = -1;
        });

        return {
            rooms: [],
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
            },
            pagination: {
                from: '',
                to: '',
                total: ''
            }
        }
    },
    methods: {
        getRooms(url = '/dt'){
            this.tableData.draw++;
            axios.get(url, {params: this.tableData})
                .then(response => {
                    let data = response.data;
                    if(this.tableData.draw == data.draw){
                        this.rooms = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        search(){
            let timeout = null;
            if (this.timer) {
                clearTimeout(this.timer);
                this.timer = null;
            }
            this.timer = setTimeout(() => {
                this.getRooms();
            }, 1000);
        },
        configPagination(data){
            this.pagination.from = data.from;
            this.pagination.to = data.to;
            this.pagination.total = data.total;
        },
        sortBy(key){
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'ASC' : 'DESC';
            this.getRooms();
        },
        getIndex(array, key, value){
            return array.findIndex(i => i[key] == value)
        }
    }
}
</script>
