<template>
  <div>
    <vdtnet-table
      :fields="fields"
      :opts="options"
      className="table table-hover nowrap w-100 mb-4"
      containerClassName="table-responsive d-print-inline"
    >
    </vdtnet-table>
  </div>
</template>

<style>
.dataTables_filter {
    float: left !important;
}

.new {
    float: left;
}

</style>

<script>
import VdtnetTable from 'vue-datatables-net'
import 'datatables.net'

export default {
    props: ['route', 'route1'],
    components: { VdtnetTable },
    data() {
        return {
        options: {
            ajax: {
                url: this.route,
                dataSrc: (json) => {
                    return json.data
                }
            },
            language: { search: "", sLengthMenu: "_MENU_" },
            //dom: "frt<'row'<'ml-4'l><'col-sm-4'i>>",
            dom: "fr<'new'>t<'row'<'ml-4'l><'col-sm-4'i>>",
            initComplete: function(){
                $("div.new").html("<a href='/newBooking' class='btn btn-gradient-success btn-icon-text ml-3'><i class='mdi mdi-plus'></i> NEW </a>");
            },
            responsive: true,
            serverSide: true,
            pageLength: 10,
            lengthMenu: [[10, 20, 30, 50, 100], [10, 20, 30, 50, 100]],
            "infoCallback": function( settings, start, end, max, total, pre ) {
                return "Showing " + end + " - " + end + " of " + total;
            },
        },
        fields: {
            name: { label: 'Title', sortable: true, searchable: true, width: '30%' },
            quantity: { label: 'Quantity', sortable: true, searchable: true, width: '30%' },
            price: { label: 'Price', sortable: true, searchable: true, width: '30%' },
            action: { label: 'Action', sortable: false, searchable: false, width: '10%' },
        }
        }
    },
    mounted(){
        $('.dataTables_filter input[type="search"]').addClass('form-control mb-4').attr('placeholder','Search...');
        $('div.dataTables_length select').addClass('form-control');
        $('div.dataTables_info').addClass('mt-2 small');
    }
}
</script>

<style scoped>
</style>
