<template>
    <div>
        <li class="nav-item dropdown show">
            <a class="nav-link count-indicator dropdown-toggle" id="notificationDropdown" @click="markAsRead" href="#" data-toggle="dropdown" aria-expanded="true">
                <i class="mdi mdi-bell-outline"></i>
                <span class="count-symbol bg-danger" v-if="unreadNotifications.length > 0"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="notificationDropdown">
                <h6 class="p-3 mb-0">Notification Logs</h6>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item notif" v-for="notification in allNotifications.slice(0,5)">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                            <i class="mdi mdi-tooltip"></i>
                        </div>
                    </div>
                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                        <h6 class="preview-subject font-weight-normal mb-1">{{ notification.created_at }}</h6>
                        <p class="text-gray mb-0"> {{ notification.data.log.description }} </p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item preview-item" v-if="allNotifications.length == 0">
                    <div class="preview-thumbnail">
                        <div class="preview-icon bg-success">
                            <i class="mdi mdi-tooltip"></i>
                        </div>
                    </div>
                    <div class="preview-item-content d-flex align-items-start flex-column justify-content-center">
                        <h6 class="preview-subject font-weight-normal mb-1"> - </h6>
                        <p class="text-gray mb-0"> No notifications </p>
                    </div>
                </a>
                <div class="dropdown-divider"></div>
                <a :href="route">
                    <h6 class="p-3 mb-0 text-center">See all notifications</h6>
                </a>
            </div>
        </li>
    </div>
</template>

<style>
.notif:hover{
    color: #000 !important;
}
</style>

<script>
    export default {
        props: ['user', 'route'],
        data(){
            return {
                allNotifications: [],
                unreadNotifications: []
            }
        },
        methods: {
            markAsRead(){
                axios.get('/markAllRead/'+this.user.id).then(response => {
                    this.unreadNotifications = [];
                });
            }
        },
        created() {
            this.allNotifications = this.user.notifications;
            this.unreadNotifications = this.allNotifications.filter(notifications => {
                return notifications.read_at == null;
            });

            // Echo.private('App.User.'+this.user.id).notification((notification) => {
            //     this.allNotifications.unshift(notification.notification);
            //     this.unreadNotifications.unshift(this.allNotifications.filter(notifications => {
            //         return notifications.read_at == null;
            //     }));
            // });
        }
    }
</script>
