<template>
    <div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="room in rooms" :key="room.id">
                    <td><div :class="(room.bookable==1) ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'">&nbsp;</div></td>
                    <td>{{ room.name }}</td>
                    <td><a class="btn btn-primary" :href="mapRoute(room.id)">Map</a></td>
                    <td><a class="btn btn-info" href="#">Check</a></td>
                    <td><div :class="(room.rateId != null) ? 'badge badge-pill badge-success' : 'badge badge-pill badge-danger'">&nbsp;</div></td>
                </tr>
            </tbody>
        </datatable>
        <div class="form-inline mt-4">
            <select class="form-control" v-model="tableData.length" @change="getRooms()">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <pagination :pagination="pagination"></pagination>
        </div>
    </div>
</template>

<script>
import Datatable from "./Datatable.vue";
import Pagination from "./Pagination.vue";

export default {
    components: { datatable: Datatable, pagination: Pagination },
    props: ['route'],
    created(){
        this.getRooms();
    },
    data(){
        let sortOrders = {};

        let columns = [
            { width: '20%', label: 'Bookable', name: 'bookable', sortable: false },
            { width: '20%', label: 'Room Name', name: 'name', sortable: true },
            { width: '20%', label: 'Map', name: 'map', sortable: false },
            { width: '20%', label: 'Check', name: 'check', sortable: false },
            { width: '20%', label: 'Active', name: 'Active', sortable: false },
        ];

        columns.forEach((column) => {
            sortOrders[column.name] = -1;
        });

        let dates = [];

        return {
            rooms: [],
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                s: '',
                e: ''
            },
            pagination: {
                from: '',
                to: '',
                total: ''
            }
        }
    },
    methods: {
        getRooms(url = '/getRooms'){
            this.tableData.draw++;
            axios.get(url, { params: this.tableData })
                .then(response => {
                    let data = response.data;
                    if(this.tableData.draw == data.draw){
                        this.rooms = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        mapRoute(id){
            return "/expedia/map/"+id;
        },
        configPagination(data){
            this.pagination.from = data.from;
            this.pagination.to = data.to;
            this.pagination.total = data.total;
        },
        sortBy(key){
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'ASC' : 'DESC';
            this.getRooms();
        },
        getIndex(array, key, value){
            return array.findIndex(i => i[key] == value)
        }
    }
}
</script>
