<template>
    <div class="row">
        <div class="col-sm-3">
            <div class="form-group">
                <label>Room Name</label>
                <input type="text" class="form-control" id="room" name="room" :value="roomname" readonly>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group">
                <label>Expedia Property ID</label>
                <div class="input-group">
                    <input type="number" class="form-control" placeholder="Enter Property ID and click Go" name="id" id="id" v-model="propertyId">
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-gradient-primary" type="button" @click="map">Go</button>
                    </div>
                </div>
                <small>For Testing purposes: 12933870</small>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group" v-if="roomNames.length > 0">
                <label>Select your Room Name from Expedia</label>
                <div class="input-group">
                    <select class="form-control" id="expedia_room" name="expedia_room" v-model="selectedId">
                        <option v-for="roomName in roomNames" :key="roomName.id" :value="roomName.id">{{ roomName.name }}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-gradient-primary" type="button" @click="getRates">Go</button>
                    </div>
                </div>
            </div>
            <div class="form-group" v-if="roomNames.length == 0">
                <label>You will find property ID here:</label>
                <img src="./images/4.png" alt="">
            </div>
        </div>

        <div class="col-sm-3">
            <div class="form-group" v-if="rates.length > 0">
                <label>Select corresponsing Rate</label>
                <div class="input-group">
                    <select class="form-control" id="expedia_rate" name="expedia_rate" v-model="selectedRate">
                        <option v-for="rate in rates" :key="rate.id" :value="rate.id">{{ rate.name }}</option>
                    </select>
                    <div class="input-group-append">
                        <button class="btn btn-sm btn-gradient-info" type="button" @click="updateRoom">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import VueSwal from 'vue-swal';
export default {
    props: ['roomname', 'id'],
    data(){
        let roomNames = [];
        let rates = [];

        return {
            propertyId: '',
            roomNames: [],
            selectedId: '',
            selectedRate: '',
            rates: []
        }
    },
    methods: {
        map(){
            axios.post('/expedia/mapRoom/'+this.propertyId).then(response => {
                this.roomNames = response.data;
            });
        },
        getRates(){
            this.roomNames.forEach((column) => {
                if(column.id == this.selectedId){
                    this.rates = column.rates;
                }
            });
        },
        updateRoom(){
            axios.post('/expedia/updateRoom/'+this.id+'/'+this.propertyId+'/'+this.selectedId+'/'+this.selectedRate).then(response => {
               //console.log(response);
               if(response.data == 'success'){
                   this.success();
               }
               else{
                   this.failed();
               }
            });
        },
        success(){
            this.$swal({
                text: 'Successfully updated!',
                icon: 'success',
                button: {
                    text: "Continue",
                    value: true,
                    visible: true,
                    className: "btn btn-primary"
                }
            }).then(() => {
                window.location = "/expedia";
            });
        },
        failed(){
            this.$swal({
                text: 'An error occurred. Plese try again.',
                icon: 'warning',
                button: {
                    text: "Continue",
                    value: true,
                    visible: true,
                    className: "btn btn-danger"
                }
            }).then(() => {
                window.location = "/expedia";
            });
        }
    }
}
</script>
