<template>
    <div>
        <div class="form-inline mb-4">
            <input type="text" class="form-control" placeholder="Search..." v-model="tableData.search" @input="search()">
            <input type="hidden" id="start" name="start_date">
            <input type="hidden" id="end" name="end_date">
            <date-range-picker
                v-model="dateRange"
                :autoApply="autoApply"
                :ranges="ranges"
                :minDate="minDate"
                :controlContainerClass="className"
                @update="updateValues"
            >
            </date-range-picker>
            <a :href="route" class="btn btn-gradient-info btn-icon-text ml-3"><i class="mdi mdi-plus"></i> CREATE </a>
        </div>
        <datatable :columns="columns" :sortKey="sortKey" :sortOrders="sortOrders" @sort="sortBy">
            <tbody>
                <tr v-for="(room, roomIndex) in rooms" :key="roomIndex">
                    <td class="fixed-side">{{ room.name }}</td>
                    <td v-for="(date, dateIndex) in dates" :key="dateIndex"><a :href="setQuantity(room.id, date.name, 'setQuantity', fromExpedia[roomIndex][dateIndex].quantity )">{{ fromExpedia[roomIndex][dateIndex].quantity  }}</a> | <a :href="setPrice(room.id, date.name, 'setPrice', fromExpedia[roomIndex][dateIndex].price )">{{ fromExpedia[roomIndex][dateIndex].price }}</a></td>
                </tr>
            </tbody>
        </datatable>
        <div class="form-inline mt-4">
            <select class="form-control" v-model="tableData.length" @change="getRooms()">
                <option value="10" selected>10</option>
                <option value="20">20</option>
                <option value="30">30</option>
                <option value="50">50</option>
                <option value="100">100</option>
            </select>
            <pagination :pagination="pagination"></pagination>
        </div>
    </div>
</template>

<script>
import Datatable from "./Datatable.vue";
import Pagination from "./Pagination.vue";
import DateRangePicker from 'vue2-daterange-picker';
import 'vue2-daterange-picker/dist/vue2-daterange-picker.css';
import moment from 'moment';
import VueSwal from 'vue-swal';

export default {
    components: { datatable: Datatable, pagination: Pagination, DateRangePicker },
    props: ['route'],
    created(){
        this.tableData.s = moment().format('MM/DD/YYYY');
        this.tableData.e = moment(new Date()).add(31, "days").format('MM/DD/YYYY');
        this.getRooms();
    },
    data(){
        let sortOrders = {};

        let columns = [];

        let dates = [];

        let fromExpedia = [];

        return {
            rooms: [],
            rates: fromExpedia,
            columns: columns,
            sortKey: 'id',
            sortOrders: sortOrders,
            tableData: {
                draw: 0,
                length: 10,
                search: '',
                column: 0,
                dir: 'desc',
                s: '',
                e: ''
            },
            pagination: {
                from: '',
                to: '',
                total: ''
            },
            dateRange: {
                startDate: moment().format('MM/DD/YYYY'),
                endDate: moment(new Date()).add(31, 'days').format('MM/DD/YYYY')
            },
            minDate: moment().format('MM/DD/YYYY'),
            autoApply: true,
            ranges: false,
            className: "form-control ml-3"
        }
    },
    methods: {
        getRooms(url = '/data'){
            axios.get(url, { params: this.tableData })
                .then(response => {
                    let data = response.data;
                    if(this.tableData.draw == data.draw){
                        this.columns = response.data.columns;

                        this.dates = response.data.dates;

                        this.fromExpedia = response.data.fromExpedia;

                        this.columns.forEach((column) => {
                            this.sortOrders[column.name] = -1;
                        });

                        this.rooms = data.data.data;
                        this.configPagination(data.data);
                    }
                })
                .catch(errors => {
                    console.log(errors);
                });
        },
        updateValues(value){
            var s = moment(value.startDate).format('MM/DD/YYYY');
            var e = moment(value.endDate).format('MM/DD/YYYY');
            this.tableData.s = s;
            this.tableData.e = e;
            this.getRooms();
        },
        search(){
            let timeout = null;
            if (this.timer) {
                clearTimeout(this.timer);
                this.timer = null;
            }
            this.timer = setTimeout(() => {
                this.getRooms();
            }, 1000);
        },
        configPagination(data){
            this.pagination.from = data.from;
            this.pagination.to = data.to;
            this.pagination.total = data.total;
        },
        sortBy(key){
            this.sortKey = key;
            this.sortOrders[key] = this.sortOrders[key] * -1;
            this.tableData.column = this.getIndex(this.columns, 'name', key);
            this.tableData.dir = this.sortOrders[key] === 1 ? 'ASC' : 'DESC';
            this.getRooms();
        },
        getIndex(array, key, value){
            return array.findIndex(i => i[key] == value)
        },
        setQuantity(room, date, option, value){
            return "/set/"+room+"/"+date+"/"+option+"/"+value+"/availRates";
        },
        setPrice(room, date, option, value){
            return "/set/"+room+"/"+date+"/"+option+"/"+value+"/availRates";
        },
    }
}
</script>
